<<<<<<< HEAD
.inf{font-size: large;
font-weight: 600;
display: block;
padding: 20px;
}
img{
  
    margin-top: 10px;
}
=======
.inf{font-size: large;
font-weight: 600;
display: block;
padding: 20px;
}
img{
  
    margin-top: 10px;
}
>>>>>>> 6e049bfb87a13db5b3bca05f408f1e739c749721
